/* 
    Document   : estilos
    Created on : 12-mar-2014, 11:18:35
    Author     : Estudio
    Description:
    Purpose of the stylesheet follows.
*/

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

root {display: block;}

body{margin: 0; font-size:16px; }
a, a:hover{text-decoration: none; cursor: pointer;}
ul, ol, li {list-style: none; margin:0; padding:0; }
h1, h2, h3, h4, h5, h6, p{font-family: 'Ubuntu', sans-serif; font-weight: normal}
.clear{clear:both;}

a.laura {display:block; width:14px; height:163px; background:url(../images/laura.png); position:fixed; bottom:20px; right:20px; z-index:999}
a.laura span {display:none}
a.laura:hover {background-position:right}

.contentHome{background: url(../images/bg_circulos.jpg) no-repeat top center; }
.contentHome h3{font-family: 'Ubuntu', sans-serif; font-size:16px; color:#999; margin-top:0; text-transform:uppercase; text-align: center; border-bottom: 1px solid #999; padding-bottom: 10px;  }
.contentHome section{margin-bottom: 25px}
.contenedor{width: 960px; margin: 0 auto; position:relative;}
header{background: url(../images/bg_header.jpg) no-repeat top center; position:relative; min-height: 166px; }
header .contenedor{min-height: 166px; position: relative}
header #logo{background: url(../images/bg_logoCanLA.png) no-repeat; width: 179px; height:193px; position: absolute; left:-20px; z-index:20; text-align:center; padding-top:20px }
header h1{float:right; text-align:right; margin-top: 40px;}/*color:#fff; font-family: 'Ubuntu', sans-serif; font-size:2em; letter-spacing: -1px; text-transform: uppercase; margin:0;line-height: 1em; */
/*header h1 span{color:#60A6EC; font-size:0.9em; text-transform: capitalize; }*/ 
header .comboIdiomaSalir{position: absolute; top:3px; right: 0px;}
header .idioma{display:inline-block; color: #AAA; font-size: 11px; text-transform: uppercase;}
header .idioma:hover{color: #fff}
header .salir{display:inline-block; color: #AAA; font-size: 11px; text-transform: uppercase; margin-left: 10px; border: 1px solid #AAA;
padding: 2px 5px;}
header .salir:hover{color: #fff; border: 1px solid #fff;}

nav {display:table; width:100%; margin-top:20px; height: 33px;}
.menu{margin-left: 170px; height: 26px; padding:0}/*display:table-header-group;*/
.menu li{float: left;}/*display: table-cell;*/
.menu li a{border-right: 1px solid #666; color:#fff; display:block; width: 146px;height: 20px;font-size:0.9em; text-decoration:none; text-transform: uppercase; padding: 0 10px 0 0; margin-right:15px; }
.menu li a:hover{color: #1562AD}
.sinMargen{margin:0 !important}
.floaters{background:#fff; padding: 15px 0; margin: 10px 0 0 170px;}
.floaters ul{float:left; display:table-column;width: 145px; padding:0; margin-right:15px;min-height: 150px;}
.floaters ul li a{color:#333;display:block; font-size:0.9em; line-height:1.1em; text-decoration:none; margin-bottom:10px;}
.floaters ul li a:hover{color:#1461AC}
.floaters ul li a.nuevaArea{color:#1461AC; border: 1px solid #1461ac; padding: 3px; display: inline-flex;}

.redes{background:#fff; height: 35px;position: absolute; bottom: -30px; right: 0; z-index: 50; padding: 7px 10px;-moz-border-radius-bottomright: 6px;
-webkit-border-bottom-right-radius: 6px;border-bottom-right-radius: 6px;-moz-border-radius-bottomleft: 6px;-webkit-border-bottom-left-radius: 6px;border-bottom-left-radius: 6px;}
.redes span{display: none;}
	.youtube, .facebook, .twitter{background-image:url(../images/redes.png); background-repeat: no-repeat; display: block; float: left }
	.youtube{width: 51px; height: 20px; margin-right: 10px; background-position: 0 0}
	.youtube:hover{background-position: 0 -20px}
	.facebook{width: 22px; height: 20px; margin-right: 10px; background-position: -55px 0;}
	.facebook:hover{background-position: -55px -20px}
	.twitter{width: 22px; height: 20px; background-position: -83px 0;}
	.twitter:hover{background-position: -83px -20px}

.slide{width:865px; height:370px; margin:0 auto; position:relative;}
.slide .mascaraSlide{width:865px; height:336px; margin:0 auto; position:absolute; z-index:10}
	/* FlexSlider Necessary Styles
	*********************************/
	.flexslider {margin: 0 auto; padding: 0; width:771px; height:336px;}
	.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden ;height:336px; position: relative} /* Hide the slides before the JS is loaded. Avoids image jumping */
	.flexslider .slides img {width: 100%; display: block; height: 336px;}
	.flexslider .slides p{background: rgba(22,48,114,0.6); color:#fff; position: absolute; bottom: 0; margin: 0; padding: 5px 50px; width: 100%; height:100px ; text-align: center; font-size:28px; line-height: 28px}
	.flexslider .slides p span{font-size: 20px !important}
	.flex-pauseplay span {text-transform: capitalize;}

	/* Clearfix for the .slides element 
	.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
	html[xmlns] .slides {display: block;}
	* html .slides {height: 1%;}*/

	/* No JavaScript Fallback */
	/* If you are not using another script, such as Modernizr, make sure you
	 * include js that eliminates this class on page load */
	.no-js .slides > li:first-child {display: block;}
	/* Control Nav */
	.flex-control-nav {width: 771px; position: absolute; bottom: 0; text-align: center;}
	.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
	.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #ABC3E0;  cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
	.flex-control-paging li a:hover { background: #0066CC; }
	.flex-control-paging li a.flex-active { background: #B8D761;  cursor: default; }

.areasTrabajo h3{width: 97%; margin-right: auto; margin-left: auto}
.slideAreasTrabajo{}
	.slideAreasTrabajo .bx-wrapper{width: 700px; margin: 0 auto;}
	.slideAreasTrabajo .bx-viewport{height: 320px !important}
	.slideAreasTrabajo .bx-prev, .slideAreasTrabajo .bx-next{display:block; width:30px; height:30px; text-indent:-9999px;position:absolute; top:103px; border:3px solid #fff; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -o-border-radius: 50%;  }
	.slideAreasTrabajo .bx-prev{background:#fff url(../images/arrow_left_alt1_24x24.png);left:-45px }
	.slideAreasTrabajo .bx-next{background:#fff  url(../images/arrow_right_alt1_24x24.png); right:-45px;}

.ch-grid {margin: 10px 0 0 0;padding: 0;list-style: none;display: block;text-align: center;width: 100%;}
.ch-grid:after,
.ch-item:before {content: '';display: table;}
.ch-grid:after {clear: both;}
.ch-grid li {width: 220px; height: 100%;display: inline-block;}/*margin: 20px;*/
.ch-item {width: 100%; height: 220px;border-radius: 50%;background: #ccc; position: relative;cursor: default; background-size: 100%
		
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
/*.ch-item .imgArea{position: absolute; top:20px; left:20px; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%;-o-border-radius: 50%; border:20px solid red}*/

.ch-img-1 {background-image: url(../images/imgArea.jpg); box-shadow: 
	inset 0 0 0 0 rgba(8,42,153, 0.4),
	inset 0 0 0 16px rgba(255,255,255,0.6),
	0 1px 2px rgba(0,0,0,0.1); clip: rect(50px 400px 220px 620px);}
.ch-img-2 {background-image: url(../images/imgArea.jpg); box-shadow: 
	inset 0 0 0 0 rgba(8,153,37, 0.4),
	inset 0 0 0 16px rgba(255,255,255,0.6),
	0 1px 2px rgba(0,0,0,0.1);}
.ch-img-3 {background-image: url(../images/imgArea.jpg);	box-shadow: 
	inset 0 0 0 0 rgba(179,209,69, 0.4),
	inset 0 0 0 16px rgba(255,255,255,0.6),
	0 1px 2px rgba(0,0,0,0.1);}
.ch-img-4 {background-image: url(../images/imgArea.jpg);	box-shadow: 
	inset 0 0 0 0 rgba(179,209,69, 0.4),
	inset 0 0 0 16px rgba(255,255,255,0.6),
	0 1px 2px rgba(0,0,0,0.1);}

.ch-info {position: absolute;width: 100%;height: 100%;border-radius: 50%;opacity: 0;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	-webkit-backface-visibility: hidden; /*for a smooth font */
}

.ch-grid h2 {color:#999 !important;position: relative; font-size: 22px !important;text-align:center; margin: 0 30px;padding: 15px 0 0 0;font-family: 'Ubuntu', sans-serif; border:none !important;}
.ch-info p {color: #fff;padding: 100px 5px;font-style: italic;margin: 0 30px;font-size: 12px;}
.ch-info p a {display: block;color: #fff;color: rgba(255,255,255,0.7);font-style: normal;font-weight: 700;text-transform: uppercase;font-size: 14px;letter-spacing: 1px;padding-top: 90px;font-family: 'Ubuntu', sans-serif; width: 200px;height: 200px;border-radius: 50%;position: relative;bottom: 90px;left: -25px;}
.ch-info p a:hover {color: #fff222; color: rgba(50,50,50, 0.8);}

.ch-img-1:hover {box-shadow: 
	inset 0 0 0 110px rgba(8,42,153, 0.4),
	inset 0 0 0 16px rgba(255,255,255,0.8),
	0 1px 2px rgba(0,0,0,0.1);
}
.ch-img-2:hover {box-shadow: 
	inset 0 0 0 110px rgba(8,153,37, 0.4),
	inset 0 0 0 16px rgba(255,255,255,0.8),
	0 1px 2px rgba(0,0,0,0.1);
}
.ch-img-3:hover {box-shadow: 
	inset 0 0 0 110px rgba(179,209,69, 0.4),
	inset 0 0 0 16px rgba(255,255,255,0.8),
	0 1px 2px rgba(0,0,0,0.1);
}
.ch-img-4:hover {box-shadow: 
	inset 0 0 0 110px rgba(8,153,37, 0.4),
	inset 0 0 0 16px rgba(255,255,255,0.8),
	0 1px 2px rgba(0,0,0,0.1);
}
.ch-img-1:hover {box-shadow: 
	inset 0 0 0 110px rgba(8,42,153, 0.4),
	inset 0 0 0 16px rgba(255,255,255,0.8),
	0 1px 2px rgba(0,0,0,0.1);
}

.ch-item:hover .ch-info {opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);	
}

.agendaHome{font-family: 'Ubuntu', sans-serif; color:#122296; margin-bottom: 50px}
.agendaHome .agendaCol{width:470px; float:left; margin-right: 20px}
.agendaHome .agendaCol img{display: block; float:left; margin: 0 10px 10px 0; width: 140px; height: 100px;}
.agendaHome h4{font-size: 1.5em; margin: 5px 0 3px  }
.fecha{font-size: 0.9em; color:#A0CC33;}
.lugar{font-size: 0.9em; color:#A0CC33;}
.fuente{margin-bottom: 20px !important;}
.bajada{color:#1C3C93;}

.noticiasHome{width:100%; margin: 25px 0 100px;}
.noticiaH{position: relative;}
.noticiaH li{width: 225px; float:left; margin-right: 20px; position: relative;}
.noticiaH li img{display: block; width: 100%; height: 170px; background: #999; margin-bottom: 10px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;-o-border-radius: 4px;}/* sacar esta regla cuando ponga las imágenes */
.noticiaH li h4{}
.bx-wrapper{position:relative;}
.bx-pager-item{display:none}
.bx-prev, .bx-next{display:block; width:24px; height:24px; text-indent:-9999px;position:absolute; top:60px; }
.bx-prev{background: url(../images/arrow_left_alt1_24x24.png);left:-35px }
.bx-next{background: url(../images/arrow_right_alt1_24x24.png); right:-35px;}

footer{background:#EEEEEE; border-bottom: 10px solid #000; padding: 50px; color:#666;}
footer .logos{display:block; float:left; margin-right:50px; width: 104px}
footer .logos .logo{margin-bottom: 16px}
footer .colFooter{float:left; display:table-column; width: 145px; padding:20px 0 0 0 ; margin-right:20px; min-height: 150px;}
footer .colFooter h5{border-bottom: 1px solid #999; padding-bottom: 5px; margin: 0 0 10px 0; text-transform: uppercase;font-size:0.75em;}
footer .colFooter li a{color:#666; display:block; font-size:0.75em; line-height:1.1em; text-decoration:none; margin-bottom:10px;}
footer .colFooter li a:hover{color:#000}

/* I M A G E N E S */

.bordeImg{border:8px solid #EDF5D7;}
.divCargaFoto{width:124px; height: 130px; text-align: center; padding-top: 35px; margin-bottom: 20px;}

/* P A G I N A S  I N T E R N A S */

.contentInterno{background: url(../images/bg_interno.jpg) no-repeat top center; padding: 10px 0 70px 0; min-height: 700px; }
.contentInterno h2{font-size:28px; margin-bottom: 40px}
.contentInterno h3{font-size:24px;}/*border-bottom: 1px solid #666; width: 700px; margin: 0 auto; text-align: center;*/
.contentInterno h4{font-size:22px;}

p.ubicacion{padding-left: 170px; margin: 0 0 100px 0; text-transform: uppercase; font-size: 0.8em}
p.ubicacion a{padding-right: 10px;}
p.ubicacion span{padding: 0 10px;}

.textoEditado{margin-top: 50px}
.textoEditado h1{font-size: 22px;}
.textoEditado h2{font-size: 18px; margin-top: 35px}
.textoEditado h3{font-size: 18px}
.textoEditado h4{font-size: 18px}

.unidaddeContenido{position: relative; margin-top:50px; width: 960px;}/*padding: 10px; */
/*.unidaddeContenido:hover{background:#F8F8F1; border:1px solid #F0F0E1; padding: 9px; width: 958px;}*/
.divLogoMiembro{float: left; width: 120px; padding: 0 20px 0 0; text-align: center}
.divLogoMiembro img{width: 100%; height: auto}
.divNombreMiembro{float: left; width: 278px; border-left: 1px solid #ccc; border-right: 1px solid #ccc; padding: 0 20px; }
.divDatosMiembro{float: left; width:560px; padding-left: 20px;  }
.miembro .comboEliminarEditar, .publicacion .comboEliminarEditar {position: static !important; float: right;}
.miembro h4{margin-top: 0}
.sitioWeb{color:#1360AC;}

.listaAlianzaPrincipal{margin-bottom: 100px}
.unidadAlianzaPrincipal{float: left; width: 215px; margin: 0 20px 30px 0; text-align: center; position: relative; padding: 0 5px}
.unidadAlianzaPrincipal:nth-child(4n+4) {margin-right: 0 !important}
.unidadAlianzaPrincipal h3{font-size: 20px; color:#ddd;}
.unidadAlianzaPrincipal .sitioWeb{font-size: 14px;}
.unidadAlianzaPrincipal .imgAlianzaPrincipal{width: 215px; height: 120px; vertical-align: middle; display: table-cell; text-align: center; padding: 0 5px}
.unidadAlianzaPrincipal .imgAlianzaPrincipal img, .unidadAlianzaSecundaria .imgAlianzaSecundaria img {max-width: 100%; max-height: 100%}
.unidadAlianzaPrincipal .comboEliminarEditar{position: relative !important; left: 10px;} 

.listaAlianzaSecundaria{margin-bottom: 50px}
.unidadAlianzaSecundaria{float: left; width: 460px; margin: 0 20px 30px 0; position: relative; }
.unidadAlianzaSecundaria .imgAlianzaSecundaria{width: 80px; height: 100px; float: left; margin-right: 20px; }
.unidadAlianzaSecundaria .imgAlianzaSecundaria img{width: 80px; height: auto;}
.unidadAlianzaSecundaria h4{font-size: 16px; margin: 0}
.unidadAlianzaSecundaria .comboEliminarEditar{position: relative !important; left: 0px;} 

.nota{}
.nota .cpoPrincipal{float:left; width:720px }
.nota .cpoPrincipal h2{color:#1C3C93; margin: 0}
.nota .cpoPrincipal h3{color:#1C3C93; margin: 0 0 20px; font-size: 18px}
.nota .cpoPrincipal p{margin: 0 0 8px}
.nota .infoSecundaria{float:left; width:220px; margin-right: 20px; }
.nota .infoSecundaria img{width: 220px; height: 165px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px;}
.divFotos, .divVideo{margin-top: 50px}
.nota h4{color:#878787; }

/* P A G I N A S  C O N  P D F */

.listaPDF .itemListaPDF{width: 50%; float:left; min-height:190px; margin-bottom: 80px; position: relative; height: 230px}
.listaPDF img{float: left; margin-right: 20px}
.listaPDF h3{float: left; width: 280px; margin: 0 0 10px 0; font-size: 22px}
.informacionPDF{float: left; width: 280px;}
.informacionPDF .divTags{margin: 0}
.listaPDF .comboBtnDerecha{margin-top: 0; height: 30px}
.infoArchivoPDF{height: 200px; margin-right: 30px; }

.descargarPDF{background: url(../images/pdficon_large.png) no-repeat; padding:10px 0 0 40px;height: 32px; display: inline-block; margin-bottom: 15px}

.divTags{margin-top: 15px;}


/* S E C R E T A R I A D O */

.fotoSecretariado{width:124px; height: 130px; display: block; float:left; margin: 0 15px 15px 0}
.cargo{font-size: 0.9em; color:#A0CC33;margin-bottom: 0;}
#sortable li{background:#ededed ;border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; cursor:move;margin-bottom: 10px; padding: 0px 10px; width: 600px; height: 30px; line-height: 30px}
#sortable li .nombre{margin-right: 20px;}

/* A R E A */

.divImgArea{border:8px solid #EDF5D7; margin-bottom: 50px; position: relative;}
.divImgArea img{width: 100%; height: 357px}
.divImgArea .cover{position: absolute; top:0; left: 0}
.textoArea{margin-bottom: 100px}

.unidadIndiceNoticia{margin-bottom: 30px}
	.unidadIndiceNoticia a{color: #000;}
	.unidadIndiceNoticia img{display:block; float:left; margin-right: 20px; width: 140px; height: 105px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;-o-border-radius: 4px; }
	.unidadIndiceNoticia .textoIndiceNoticias{float: left; width:800px; margin-bottom: 20px; padding-bottom: 10px;}
	.unidadIndiceNoticia h2{font-size: 22px; color: #1C3C93; margin: 0;}
	.unidadIndiceNoticia .comboEliminarEditar{position: relative; }

ul.noticiasDestacadas{margin-bottom: 100px}
.unidadNoticiaDestacada{height: 149px; position: relative; margin-bottom: 30px; padding: 15px 290px 15px 15px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px;  }
.unidadNoticiaDestacada .divImg{position: absolute; right: 0; top:0; width: 235px; }
.unidadNoticiaDestacada .divImg img{height: 149px; position: absolute; clip: rect(0 235px 149px 0); border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; }
/*.unidadNoticiaDestacada .divImg .coverI{ background:url(../images/cover_notAzul.png) no-repeat; position: absolute; left: 0; top:0; z-index: 100; height: 149px; width: 26px;}*/
.unidadNoticiaDestacada h2, .unidadNoticiaDestacada p{color:#fff !important;}
.unidadNoticiaDestacada h2{margin: 0px !important}
.unidadNoticiaDestacada .fecha{ color:#D5FF23 !important; margin-bottom: 3px !important}
.unidadNoticiaDestacada .comboEliminarEditar {position: absolute; right: 10px; top:10px; z-index: 200;}
.bgAzul{background: #5586C2;}
.bgAzul .divImg .coverI{ background:url(../images/cover_notAzul.png) no-repeat; position: absolute; left: 0; top:0; z-index: 100; height: 149px; width: 26px;}
.bgVerde{background: #00AC37;}
.bgVerde .divImg .coverI{ background:url(../images/cover_notVerde.png) no-repeat; position: absolute; left: 0; top:0; z-index: 100; height: 149px; width: 26px;}

.galeria{height: 540px;}
.galeria li{height: 540px; width: 720px; text-align: center; overflow: hidden}
.galeria img{height: 540px; width: auto }
.divFotos{position: relative;}
.divFotos .bx-prev, .divFotos .bx-next{top:250px !important; }
.divFotos .bx-pager {height: 50px !important}
.divAgregarFotos, .divAgregarVideo{position: absolute; top: 0; right: 0}
.divFotos .bx-wrapper{margin-top: 30px; height: 540px;}

.divEtiquetas{}
.divEtiquetas a{display: block; float: left; line-height: 1.2em; padding: 4px 7px; border: 1px solid #99CCFF; background:#f4f4f4 ; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; text-decoration: none; }

.paginador{margin-top: 50px; float: right;color:#666;}
.paginador span{position: relative; top: 1px;}
.pagPrev, .pagNext{text-indent: -9999px; border:none; width: 16px; height: 16px; position: relative; top: 5px; cursor: pointer !important;display: inline-block;
width: 16px; height: 16px; }
.paginador .pagPrev{background: url(../images/arrow_left_alt1_16x16.png) no-repeat;}
.paginador .pagNext{background: url(../images/arrow_right_alt1_16x16.png) no-repeat;}

.divNotas, .divNoticias, .divPublicaciones{margin-bottom: 60px;}
.divPosicionesCol{width: 470px; float:left; margin-right: 20px }
.divPosicionesCol h3, .divPublicacionesCol h3{margin: 0 0 20px;}
.divPosicionesCol h2, .divPublicacionesCol h2{font-size: 18px; margin: 0}
.divPosicionesCol .itemListaPDF, .divPublicacionesCol .itemListaPDF{width: 100% !important; margin-bottom: 0 !important; min-height: 150px}
.divPosicionesCol li img, .divPublicacionesCol li img {width: 60px; height: auto; float:left; margin-right: 20px;}

.divPublicacionesCol{width: 470px; float: left}



/* A D M I N */

.login{width: 300px; margin: 110px auto 0}

.success{ display: none; background:red;position:absolute; width: 400px; height: 400px; top: 50%; left: 50%; margin-left: -200px; color: #00AC37}/*si no se usa sacar*/
.subirFoto{ position: relative;}
.subirFoto .ng-scope{margin-top: 20px}
.subirFoto img{width:124px; height: 130px; border:8px solid #EDF5D7; display: block; float:left ; }/*margin: 0 15px 15px 0;*/
canvas{width:200px; height: auto; border:8px solid #EDF5D7; display: block; }

.minArchivoCargado{position: relative;float:left; margin: 0 15px 15px 0}
.minArchivoCargado img{width: 220px; height: auto}

.editor{margin:50px 0;}


.tablaModal{width: 100%}
.tablaModal td{padding: 0 0 15px 0; vertical-align: top;line-height: 18px;}
.tablaModal td:first-child{width: 115px;}
.tablaModal tr:first-child td{padding: 0 0 12px 0;}

/*.modal-content{background:#fff; border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px -o-border-radius: 20px; width:710px; padding: 45px; position: absolute; top:  }*/


/* B T N */

.float{float:left;}
.marginR{margin-right: 10px}
.marginB{margin-bottom: 50px}
.marginO{margin: 0;}

.divBtnAgregar{position: absolute;top:125px; right:0; text-align: right;}
.btn{background-color:#1562AD; color:#fff !important; font-size: 0.9em; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; height: 30px; padding: 6px 12px;}
.btn:hover{background-color:#1C7CDD; color:#fff !important; height: 30px}
.btnOutline{background-color:#fff; border: 1px solid #1562AD; color:#1562AD !important; font-size: 0.9em; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; padding: 4px;}
.agregar, .agregar:hover{background-image: url(../images/mas.png); background-repeat: no-repeat; background-position: right center; padding: 4px 36px 4px 12px; height: 30px}
.editar, .editar:hover{background-image: url(../images/editar.png); background-repeat: no-repeat; background-position: right center; padding: 4px 36px 4px 12px; height: 30px}
.eliminar, .eliminar:hover{background-image: url(../images/eliminar.png); background-repeat: no-repeat; background-position: right center; padding: 4px 36px 4px 12px; height: 30px; display: inline-block;}
.publicar, .publicar:hover{background-image: url(../images/tilde.png); background-repeat: no-repeat; background-position: right center; padding: 4px 36px 4px 12px; height: 30px; margin-bottom: 4px}
.cancelar, .cancelar:hover{background-image: url(../images/cerrar.png); background-repeat: no-repeat; background-position: right center; padding: 4px 36px 4px 12px; height: 30px}
.comboEliminarEditar{position: absolute; top:0; right: 0}
.elimeditNotas{top:125px !important;}
.eliminarChico{background:#1562AD url(../images/eliminarBco.png) no-repeat center; width: 30px; height: 30px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border: none;}
.eliminarChico:hover{background: #1C7CDD url(../images/eliminarBco.png) no-repeat center;}
.eliminarFoto{position: absolute; top: 0px; right:1px;}
.comboBtnDerecha{margin-top: 20px; vertical-align: top; text-align: right;}

input[type="text"], input[type="email"], input[type="date"], input[type="password"]{border:1px solid #1562AD; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; width: 100%;padding: 4px 10px; }
textarea{border:1px solid #1562AD; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; width: 100%; height:150px; padding: 4px 10px; }
select{border:1px solid #DDDDDD; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; font-size: 14px; height: 30px; float:left; padding: 4px; color: #666; display: block}
.selectAdmin{border:1px solid #1562AD !important;}

.buscar{background:#fff url(../images/buscar.png) no-repeat 172px 7px; border:1px solid #DDDDDD !important; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; padding: 4px 36px 4px 12px; height: 30px; font-size: 14px; float:left;color: #666; display: block; width: 200px !important}


.ng-hide{background-color:#1562AD; color:#fff; font-size: 0.9em; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; height: 30px; padding: 4px; display: block}
.textoAclaracion{font-size: 0.8em; color:#999;}