{# empty Twig template #}

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"></button>
        <h4 class="modal-title">Agregar persona al Secretariado</h4>
    </div>

    <form>
        <div class="modal-body"  >


            <table class="tablaModal">
                <tr>
                    <td>Foto:</td>
                    <td>{# INSERTAR MACRO DE IMAGENES #}
                        <div class="subirFoto">
                            [% import 'subirImagen.twig' as subirImagen%]
                            [[ subirImagen.input() ]]
                            <div class="clear"></div>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><p class="textoAclaracion">Nota: La imagen original debe ser un jpg de 300 x 315 px (vertical) o tamaño proporcional.</p></td>
                </tr>
                <tr>

                    <td>Nombre:</td>
                    <td><input type="text" ng-model="form.nombre" ng-init="form.nombre = '' " name="nombreSecretariado"></td>
                </tr>
                <tr>
                    <td>Cargo:</td>
                    <td><input type="text" ng-model="form.cargo" ng-init="form.cargo = '' "  name="cargoSecretariado"></td>
                </tr>
                <tr>
                    <td>Textos:</td>
                    <td><input type="hidden" ng-model="form.section" ng-init="form.section = 'agregarSecretariado' "  name="section" >
                        <textarea maxlength="300" ng-model="form.texto" ng-init="form.texto = '' " name="textoSecretariado"></textarea>
                        <p class="textoAclaracion">Nota: El texto tiene un límite de 300 caracteres.</p></td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <div class="">
                <button type="button" class="btnOutline cancelar marginR btn-default" ng-click="cancel()">Cancelar</button>
                <button type="button" ng-click="submitForm('[[ paths.PATH_CONTROLLER_SOBRECANLA ]]controladorAdminModel.php?language=[[ lang ]]', form)" class="btn publicar btn-primary" >Publicar</button>
            </div>
        </div>
    </form><!-- form -->
</div>