{# empty Twig template #}
<seccion>
    <div class="contentInterno">
        <div class="contenedor">
            <p class="ubicacion"><a href="[[paths.PATH_HOME]][% if(localhost) %]?language=[[ lang ]][% else %][[ lang ]][% endif %]">[[ texts.inicio ]]</a>|<span class="seccion">[[texts.sobre_canla]]</span>|<span class="seccion">[[texts.historia]]</span></p>
            <h2>Agregar Historia</h2>
            <form id="formularioHistoria" action="[[ paths.PATH_CONTROLLER_SOBRECANLA ]]controladorAdminModel.php" method="post" >
                <textarea id="agregarHistoria" name="cuerpoSobreCanla"></textarea>
                <input type="hidden" name="section" value="agregarSobreCanla" />
                <input type="hidden" name="tipoSobreCanla" value="H" />
                <div class="comboBtnDerecha">
                    <input type="button" value="Cancelar" onclick="window.history.back()" class="btnOutline btn-default cancelar marginR" >
                    <input type="submit" value="Publicar" class="btn publicar"/>
                </div>
            </form>
        </div>
    </div>
</seccion>