[% macro input(urlSubirImagen) %]
    <form enctype="multipart/form-data" action="[[ paths.PATH_CONTROLLER_SOBRECANLA ]]controladorAdminModel.php?language=[[ lang ]]" method="post">
        <input type="text" name="nombreSecretariado" placeholder="Nombre">
        <input type="text" name="cargoSecretariado" placeholder="Cargo">
        <input type="hidden" name="section" value="agregarSecretariado">
    </form>
[% endmacro %]