<script type="text/javascript">
    urlSubmit = '[[ paths.PATH_CONTROLLER_SOBRECANLA ]]controladorAdminModel.php?seccion=ordenarSecretariado&language=[[ lang ]]';
    urlUploadImage = '[[ paths.PATH_PHP ]]upload.php?section=[[section]]';
    controladorModel = '[[ paths.PATH_CONTROLLER_SOBRECANLA ]]controladorAdminModel.php';
    lang = '[[ lang ]]';
    section = 'listadoSecretariado';
</script>
<div ng-controller="mainController" ng-init="init()">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"></button>
        <h4 class="modal-title">Ordenar</h4>
    </div>

    <form>
        <div class="modal-body"  >

        	<div ng-controller="SortableCTRL">
			    <ul id="sortable">
			        <li ng-repeat="item in dataArray" ng-bind-html="<span>{{item.nombreSecretariado}}</span><span>{{item.cargoSecretariado}}</span>"><span class="nombre">{{item.nombreSecretariado}}</span><span class="cargo">{{item.cargoSecretariado}}</span></li>
			    </ul>
			    
			   {# <hr>
			    <pre ng-bind="dataArray|json"></pre>#}
			</div>

        
        </div>
        <div class="modal-footer">
            <div class="">
                <button type="button" class="btnOutline cancelar marginR btn-default" ng-click="cancel()">Cancelar</button>
                <button type="button" ng-click="submitOrdenSecretariado('[[ paths.PATH_CONTROLLER_SOBRECANLA ]]controladorAdminModel.php?language=[[ lang ]]', dataArray)" class="btn publicar btn-primary" >Publicar</button>
            </div>
        </div>
    </form><!-- form -->
    </div>
</div>