{# empty Twig template #}


<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"></button>
        <h4 class="modal-title">Agregar Posición</h4>
    </div>

    <form>
        <div class="modal-body"  >
            <table class="tablaModal">
                <tr>
                    <td>Título</td>
                    <td>
                        <input type="text" ng-model="form.tituloPosicion" ng-init="form.tituloPosicion = '' " name="tituloPosicion">
                        <input type="hidden" ng-model="form.section" ng-init="form.section = 'agregarPosicion' "  name="section" >
                    </td>
                </tr>
                <tr>
                    <td>Archivo PDF</td>
                    <td>
						{# INSERTAR MACRO DE IMAGENES #}
                            <div class="subirFoto">
                                [% import 'subirImagen.twig' as subirImagen%]
                                [[ subirImagen.input() ]]
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Área:</td>
                        <td>
                            <select ng-model="form.idArea" ng-init="form.idArea = '' " name="idArea" class="selectAdmin">
                                <option value="">Seleccione un Área</option>
                                [% for datoArea in areas %]
                                <option value="[[ datoArea.idArea ]]">[[ datoArea.nombreArea ]]</option>
                                [% endfor %]
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Etiquetas</td>
                        <td> 
                            <div>
                                <tags-input ng-model="form.tags">
                                    <auto-complete source="loadTags($query)"></auto-complete>
                                </tags-input>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>    

            <div class="modal-footer">
                <button type="button" class="btnOutline cancelar marginR btn-default"  ng-click="cancel()">Cancelar</button>
                <button type="button" ng-click="submitForm('[[ paths.PATH_CONTROLLER_COMUNICACIONES ]]controladorAdminModel.php?language=[[ lang ]]', form)"  class="btn publicar btn-primary">Publicar</button>
            </div>
        </form><!-- form -->
    </div>