{# empty Twig template #}

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"></button>
        <h4 class="modal-title">Destacar noticia</h4>
    </div>

    <form>
        <div class="modal-body"  >


            <table class="tablaModal">
                <tr>
                    <td>Elegir foto para Slide:</td>
                    <td>{# INSERTAR MACRO DE IMAGENES #}
                        <div class="subirFoto"><!--<a class="eliminarChico"></a>-->
                            <div class="">
                                [% import 'subirImagen.twig' as subirImagen%]
                                [[ subirImagen.input() ]]
                            </div>
                            <div class="clear"></div>
                        </div>
                    </td>
                </tr>
                <input type="hidden" ng-model="form.id" ng-init="form.id = [[id]] "  name="id" >
                <input type="hidden" ng-model="form.section" ng-init="form.section = 'destacarNotaPrensa' "  name="section" >
            </table>
        </div>
        <div class="modal-footer">
            <div class="">
                <button type="button" class="btnOutline cancelar marginR btn-default" ng-click="cancel()">Cancelar</button>
                <button type="button" ng-click="submitForm('[[ paths.PATH_CONTROLLER_COMUNICACIONES ]]controladorAdminModel.php?language=[[ lang ]]', form)" class="btn publicar btn-primary" >Publicar</button>
            </div>
        </div>
    </form><!-- form -->
</div>