{# empty Twig template #}
<script type="text/javascript">
    urlUploadImage = '[[ paths.PATH_PHP ]]upload.php?section=comunicaciones';
    controladorModel = '[[ paths.PATH_CONTROLLER_COMUNICACIONES ]]controladorAdminModel.php';
    etiquetas = 'etiquetasNotaPrensa';
    </script>
    <section>
        <div class="contentInterno">
            <div class="contenedor">
                <p class="ubicacion"><a href="[[paths.PATH_HOME]][% if(localhost) %]?language=[[ lang ]][% else %][[ lang ]][% endif %]">[[ texts.inicio ]]</a>|<span class="seccion">[[texts.comunicaciones]]</span>|<a href="[% if (localhost) %][[paths.PATH_CONTROLLER_COMUNICACIONES]]controladorAdmin.php?seccion=notas-de-prensa&language=[[ lang ]][% else %][[paths.PATH_HOME]][[ lang ]]/comunicaciones/notas-de-prensa[% endif %]"><span class="seccion">[[texts.notas_de_prensa]]</span></a>|<span class="seccion">[[datosNota.tituloNotaPrensaRecorte]]</span></p>
                <h2>[[ texts.notas_de_prensa ]]</h2>

                [% if(perfil == 1) %]
                <div class="comboEliminarEditar elimeditNotas">
                    <div class="float marginR" ng-controller="mainController" >
                        <div class="success " ng-show="alertSuccess">{{alertSuccess}}</div>
                        <div class="error" ng-show="alertError">{{alertError}}</div>
                        <button class="btnOutline eliminar" type="button" ng-click="eliminarGenerico([[ datosNota.idNotaPrensa ]], '[[ paths.PATH_CONTROLLER_COMUNICACIONES ]]controladorAdminModel.php', 'borrarNotaPrensa', '¿Está seguro que desea borrar la nota de prensa?' )">Borrar Nota de Prensa</button>
                    </div>
                    <div class="float" ng-controller="modalDefault" ng-init="init('[[ paths.PATH_CONTROLLER_COMUNICACIONES ]]controladorAdmin.php?seccion=modificarNotaPrensa&idNotaPrensa=[[ datosNota.idNotaPrensa ]]&language=[[ lang ]]&mostrar=ok', 'imgController')">
                        <a class="btn editar" ng-click="open()"> Editar</a>
                    </div>
                </div>
                [% endif %]

                {#
                <div class="divBtnAgregar">
                    <form action="[[ paths.PATH_CONTROLLER_COMUNICACIONES ]]controladorAdminModel.php" method="post" onsubmit="return confirm('¿Está seguro que desea borrar la nota de prensa?')">
                        <input type="hidden" name="section" value="borrarNotaPrensa">
                        <input type="hidden" name="idNotaPrensa" value="[[ datosNota.idNotaPrensa ]]">
                        <button class="btnOutline eliminar" type="submit" value="">Borrar Nota de Prensa</button>
                    </form>
                    <a href="[% if(localhost) %][[ paths.PATH_CONTROLLER_COMUNICACIONES ]]controladorAdmin.php?seccion=modificarNoticia&idNoticia=[[ datosNoticia.idNoticia ]]&language=[[ lang ]][% else %][[ paths.PATH_HOME ]]modificarNoticia/[[ datosNoticia.idNoticia ]]/[[ lang ]]/admin[% endif %]" class="btn editar">Editar Nota de Prensa</a>
                </div>
#}

                <div class="nota">
                    <div class="infoSecundaria">
                        <img alt="[[ datosNota.tituloNotaPrensa ]]" src="[[ paths.PATH_IMAGES_COMUNICACIONES ]][[ datosNota.imagenNotaPrensa ]]">
                    </div>

                    <div class="cpoPrincipal">
                        <p class="fecha">[[ datosNota.fechaNotaPrensa|date("d/m/Y") ]]</p>
                        <h2>[[ datosNota.tituloNotaPrensa ]]</h2>
                        <h3>[[ datosNota.descripcionNotaPrensa ]]</h3>
                        <p>
                            [% autoescape false %]
                            [[ datosNota.cuerpoNotaPrensa ]]
                            [% endautoescape %]
                        </p>
                        [% if((perfil != 1) and (cantFotos > 0)) %]
                        <div class="divFotos">
                            <h4>Fotos</h4>
                            <hr>
                            [% for datoImagen in imagenes %]
                            <img alt="[[ datosNota.tituloNotaPrensa ]]" src="[[ paths.PATH_IMAGES_COMUNICACIONES ]][[ datoImagen.nombreImagenNotaPrensa ]]">
                            [% endfor %]
                        </div>
                        [% elseif(perfil == 1) %]
                        <div class="divFotos">
                            <h4>Fotos</h4>
                            [% if(perfil == 1) %]
                            <div class="divAgregarFotos" ng-controller="modalDefault" ng-init="init('[[paths.PATH_CONTROLLER_COMUNICACIONES]]controladorAdmin.php?seccion=agregarGaleriaNotaPrensa&id=[[ datosNota.idNotaPrensa ]]', 'imagesController')">
                                <a class="btn agregar" ng-click="open()" >Agregar fotos</a>
                            </div>
                            [% endif %]
                            <hr>
                            [% for datoImagen in imagenes %]
                            <img alt="[[ datosNota.tituloNotaPrensa ]]" src="[[ paths.PATH_IMAGES_COMUNICACIONES ]][[ datoImagen.nombreImagenNotaPrensa ]]">
                            <div class="float marginR" ng-controller="mainController" >
                                <button class="btnOutline eliminar" type="button" ng-click="eliminarVideoImagenGenerico([[ datoImagen.idImagenNotaPrensa ]], 'notaprensa', '[[ paths.PATH_CONTROLLER_COMUNICACIONES ]]controladorAdminModel.php', 'borrarImagen', '¿Está seguro que desea borrar la foto del evento?' )">Borrar Foto</button>
                            </div>
                            [% endfor %]
                        </div>
                        [% endif %]
                        [% if((perfil != 1) and (cantVideos > 0)) %]
                        <div class="divVideo">
                            <h4>Videos</h4>
                            <hr>
                            [% for datoVideo in videos %]
                            <iframe width="520" height="310" src="[[ datoVideo.nombreVideoNotaPrensaEmbed ]]" frameborder="0" allowfullscreen></iframe>
                            [% endfor %]
                        </div>
                        [% elseif(perfil == 1) %]
                        <div class="divVideo">
                            <h4>Videos</h4>
                            [% if(perfil == 1) %]
                            <div class="divAgregarVideo" ng-controller="modalDefault" ng-init="init('[[paths.PATH_CONTROLLER_COMUNICACIONES]]controladorAdmin.php?seccion=agregarVideoNotaPrensa&id=[[datosNota.idNotaPrensa]]', 'imgController')">
                                <a class="btn agregar" ng-click="open()" >Agregar Video</a>
                            </div>
                            [% endif %]
                            <hr>
                            [% for datoVideo in videos %]
                            <iframe width="520" height="310" src="[[ datoVideo.nombreVideoNotaPrensaEmbed ]]" frameborder="0" allowfullscreen></iframe>
                            <div class="float marginR" ng-controller="mainController" >
                                <button class="btnOutline eliminar" type="button" ng-click="eliminarVideoImagenGenerico([[ datoVideo.idVideoNotaPrensa ]], 'notaprensa', '[[ paths.PATH_CONTROLLER_COMUNICACIONES ]]controladorAdminModel.php', 'borrarVideo', '¿Está seguro que desea borrar el video de la nota de prensa?' )">Borrar Video</button>
                            </div>
                            [% endfor %]
                        </div>
                        [% endif %]
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </section>

{# empty Twig template 
<section>
    <div class="contentInterno">
        <div class="contenedor">
            <a href="[% if(localhost) %][[ paths.PATH_CONTROLLER_COMUNICACIONES ]]controladorAdmin.php?seccion=modificarNotaPrensa&idNotaPrensa=[[ datosNota.idNotaPrensa ]]&language=[[ lang ]][% else %][[ paths.PATH_HOME ]][[ lang ]]/modificarNotaPrensa/[[ datosNota.idNotaPrensa ]]/admin[% endif %]">Editar Nota Prensa</a>
            <form action="[[ paths.PATH_CONTROLLER_COMUNICACIONES ]]controladorAdminModel.php" method="post" onsubmit="return confirm('¿Está seguro que desea borrar la nota de prensa?')">
                <input type="hidden" name="section" value="borrarNotaPrensa">
                <input type="hidden" name="idNotaPrensa" value="[[ datosNota.idNotaPrensa ]]">
                <input type="submit" value="Borrar Nota de Prensa">
            </form>
            <br><br><br>
            <h1>[[ datosNota.tituloNotaPrensa ]]</h1>
            <span>[[ datosNota.fechaNotaPrensa|date('d/m/Y') ]]</span>
            <img style="width: 100px; height: 100px" alt="[[ datosNota.tituloNotaPrensa ]]" src="[[ paths.PATH_IMAGES_COMUNICACIONES ]][[ datosNota.imagenNotaPrensa ]]">
            <p>[[ datosNota.descripcionNotaPrensa ]]</p>
            <p>[[ datosNota.cuerpoNotaPrensa ]]</p>
        </div>
    </div>
</section>
#}