<section>
    <div class="contentInterno">
        <div class="contenedor">
            <p class="ubicacion"><a href="[[paths.PATH_HOME]][% if(localhost) %]?language=[[ lang ]][% else %][[ lang ]][% endif %]">[[ texts.inicio ]]</a>|<span class="seccion">[[ texts.nuevos_miembros ]]</span></p>

            <h2>[[ texts.nuevos_miembros ]]</h2>
        </div>
    </div>
</section>