<section>
    <div class="contentInterno">
        <div class="contenedor">
            <p class="ubicacion"><a href="[[paths.PATH_HOME]][% if(localhost) %]?language=[[ lang ]][% else %][[ lang ]][% endif %]">[[ texts.inicio ]]</a>|<span class="seccion">Error</span></p>
            
            <h2>[% if(texto is not null) %][[ texto ]][% else %]Page not found[% endif %]</h2>
        </div>
    </div>
</section>